@import 'normalize';
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$day-border: 1px solid #CEC8C8;
$btn-color: #83EBF1;
$btn-hover-color: #74CBD0;
$med-gray: #4A5052;
$bg-color: #EAE8E8;
$weight-normal: 400;
$weight-bold: 700;
$body-padding-v: 2vh;
$screen-xs: 480px;
//assume for the majority of the cases, there will be 5 rows of weeks + header
$block-height: (100vh - $body-padding-v*2)/6;

body {
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: $weight-normal;
  padding: $body-padding-v 3vw;
  background-color: $bg-color;
}

ul, li {
  padding: 0;
  margin: 0;
}

a {
  appearance: none;
  background-color: $btn-color;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-weight: $weight-bold;
  line-height: 1;
  padding: 1em;
  text-decoration: none;
  transition: background-color .2s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $btn-hover-color;
    color: #fff;
  }

  &:last-child {
    margin-left: 1em;
  }
}

h1 {
  text-transform: capitalize;
  margin: 0 0 0.5em;
  display: inline-block;
  color: $med-gray;
}

.header {
  min-height: $block-height;
  padding-bottom: 3vh;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  font-size: 0.8em;
}

@media (min-width: $screen-xs) {
  .header {
    text-align: left;
    font-size: 1em;
  }

  h1 {
    margin: 0;
  }

  .nav {
    float: right;
  }

  .calendar {
    font-size: 1em;
  }
}

.calendar {
  font-size: .7em;
}

.week {
  overflow: hidden;
  position: relative;

  &:first-child {
    .day:not(:empty) {
      border-top: $day-border;
    }
  }
}

.day {
  width: 100/7 + %;
  height: $block-height;
  float: left;
  box-sizing: border-box;
  border-right: $day-border;
  border-bottom: $day-border;
  color: $med-gray;
  padding: 1vh 1vw;

  &:first-child {
    border-left: $day-border;
  }

  span {
    z-index: 1;
    position: relative;
  }
}

span.day {
  border-right: none;
  border-left: none !important;

  &:last-of-type {
    border-right: $day-border;
  }
}

.event {
  position: absolute;
  height: $block-height;
  top: 0;
  z-index: 0;
  padding-left: 1em;
  box-sizing: border-box;
  color: white;
  display: flex;
  align-items: center;
  
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@for $i from 0 through 6 {
  .event-offset-#{$i} {
    left: $i*(100/7)+%;
  }

  .event-duration-#{$i+1} {
    width: ($i+1)*(100/7)+%;
  }
}